  <div id="back_link_box"><%= link_to 'Home', root_path %></div>

  <div id="user_login_box">
  <%- if user_signed_in? -%>
      You are logged in as <%= current_user.email %>. |
      <%= link_to 'My info', edit_user_registration_path %> |
      <%= link_to 'Logout', destroy_user_session_path %>
    <%- else -%>
      <%= (@_request.fullpath == new_user_session_path ? "Login" : link_to("Login", new_user_session_path)) %>
        | 
       <%= (@_request.fullpath == new_user_registration_path ? "Register" : link_to("Register", new_user_registration_path)) %>
  <%- end -%>
  </div>
  <!-- %- if admin_signed_in? -% >
    <div id="admin_login_box" style="float:left">
      < %= current_admin.email % > |
      < %= link_to 'Admin section', admins_path % > |
      < %= link_to 'Logout', destroy_admin_session_path % >
    </div>
  < %- end -% -->
  <div class="clearer"></div>

  <%-# Notice, Error, Alert and Message flashes will appear in this standard header %>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>