<!DOCTYPE html>
<html>
<head>
  <title><%=RAILS_ENV[0].upcase + ':' unless RAILS_ENV == "production" %>Ranker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="head_section">
  <%= render :partial => "shared/header" %>
</div>

<div class="main_section">
  <%= yield %>
</div>

<div class="footer_section">
</div>

</body>
</html>
