<!DOCTYPE html>
<html>
<head>
  <title>Ranker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="login_status">
  <% if current_user %>
    You are logged in as <%= current_user.email %>.
  <% else %>
    Login or <%= link_to "Register", new_user_path %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
